<h1>Hello, !</h1>
<p>Bamboo test task</p>

<p>
  1. Given an API documentation create own demo application for buying cards
      a. Application CAN use database or CAN save all data in cache
      b. Application should implement UI.
        i. It can be
          1. MVC/Razor
          2. Web Api + Angular/React
        ii. It should have the following pages:
          1. Catalog page where all products are displayed
            a. Should provide a way to order any particular product
          2. Accounts page. Page showing available accounts
          3. Order history page. All orders made are shown
            a. App can save order information itself
            b. App can use API to fetch orders placed
  2. Write unit tests for Fetch Catalog and Get Accounts functionality
  a. There should be about 10 tests in total
</p>
